@import 'reset.css';
@import 'common.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans&family=Open+Sans:wght@300;600&family=Poppins:wght@300;400;500&family=Roboto:wght@100;300;400;500;700;900&family=Sedgwick+Ave&display=swap');

html {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

body {
  max-width: 100%;
  margin: 0 auto;
}

.overflow {
  overflow: hidden;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}

.header-flex-1 {
}
.header-flex-2 {
  display: none;
}

.nft-logo {
  height: 32px;
}

.hamburger {
  font-size: 24px;
}

a {
  color: inherit;
}

.styling-1 {
  font-family: 'Inter', sans-serif;
  color: grey;
  text-decoration: none;
  padding-left: 1.5rem;
  font-size: 1.3rem;
}

.color-purple {
  color: rgb(230, 58, 158);
}

section.hero {
  max-width: 87%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

/* .sign-button-1 {
  font-size: 0.8rem;
  padding: 0.75rem;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  border: 2px solid;
  border-image: linear-gradient(
    to right,
    rgb(230, 58, 158),
    rgb(228, 90, 36),
    rgb(168, 166, 21)
  );
  border-image-slice: 1;
  border-radius: 30px;
} */

.button {
  cursor: pointer;
  border: none;
  width: 188px;
  height: 75px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  background: white;
  margin: 3px;
}

.button::after {
  position: absolute;
  content: '';
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  z-index: -1;
  background: url('../assets/background.svg');
  background-size: cover;
  border-radius: 30px;
}

.header-5-announcement {
  margin-top: 4rem;
}

.paragraph-1 {
  font-weight: 600;
  margin-bottom: 2rem;
  max-width: 74%;
  font-size: 1.25rem;
  color: rgb(100, 100, 100);
}

.nft-squid-image {
  width: 420px;
  position: absolute;
  top: 4%;
  right: 0%;
  transform: translateX(50%);
}

.nft-image-2 {
  position: absolute;
  bottom: 7%;
  right: 0%;
  transform: translateX(27%);
  z-index: -1;
}

.heading-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
  max-width: 90%;
  font-weight: 900;
}

.header-5-announcement {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: rgb(230, 58, 158);
}

.upsell-text {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 26rem;
}

.under-image {
  background: url(/assets/background.svg);
  height: 330px;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
}

.overlay-text {
  font-family: 'Roboto', sans-serif;
  max-width: 80%;
  z-index: 3;
  margin: 0 auto;
  position: absolute;
  bottom: -5%;
  left: 7%;
}

.overlay-text-p {
  font-size: 1.3rem;
  margin-top: 0;
}

.overlay-text-h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

/* Logo sekcija */

.logo-section {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  justify-content: space-around;
  vertical-align: baseline;
  margin-bottom: 3rem;
}

.logo {
  max-width: 40%;
  overflow: hidden;
}

.logo-1 {
  width: 8.5rem;
  margin-bottom: 2rem;
}

.logo-2 {
  width: 10rem;
}

.logo-3 {
}

.logo-4 {
  display: none;
}

/* ----- || Second text section + Showcase || ----- */

.showcase-container {
  max-width: 100%;
  margin: 0 auto;
  margin-left: 2rem;
  margin-bottom: 12rem;
}

.text-area-h2 {
  font-size: 2.75rem;
  padding: 0;
  margin-bottom: 0;
}

.text-area-p {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.text-area-showcase {
  max-width: 90%;
}
.open-sea-link {
}

.flex-container {
  display: flex;
  gap: 2.7rem;
  overflow: hidden;
}

.card-1 > p {
  margin-top: 10px;
  margin-bottom: 6px;
}

.card-1-row-1 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 0.5rem;
  max-width: 85%;
}

.text-orange {
  font-size: 0.7rem;
  font-weight: 700;
  color: rgb(255, 136, 0);
}

.row-1-text-neutral {
  font-size: 0.7rem;
  font-weight: 500;
}

.card-1-row-2 {
  display: flex;
  justify-content: space-between;
  max-width: 85%;
  margin: 0 auto;
}

.text-same {
  font-family: 'Inter', sans-serif;
  color: grey;
  font-size: 0.75rem;
}

.text-same-2 {
  font-family: 'Inter', sans-serif;
  color: grey;
  font-size: 1rem;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.15rem;
}

.card-1-row-3 {
  display: flex;
  justify-content: space-between;
  max-width: 85%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.card-1-row-1-text {
}

.card-under-grey-bgc {
  background-color: rgb(238, 236, 236);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-top: -0.35rem;
}

/* ------ ||| Second LAUNCHING SOON section */

.container-2 {
  position: relative;
  max-width: 87%;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding-bottom: 6rem;
}

.paragraph-2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: rgb(78, 78, 78);
  margin-bottom: 2rem;
  max-width: 52%;
}

.heading-2 {
  font-family: 'Inter', sans-serif;
  font-size: 3.5rem;
  max-width: 77%;
  font-weight: 900;
  margin-bottom: 4rem;
}

.line-1 {
  height: 2px;
  width: 425px;
  position: absolute;
  background-color: rgba(160, 159, 159, 0.2);
  bottom: -212.7%;
}

.line-2 {
  height: 2px;
  width: 425px;
  position: absolute;
  background-color: rgba(160, 159, 159, 0.2);
  bottom: -178.5%;
}

.line-3 {
  height: 2px;
  width: 425px;
  position: absolute;
  background-color: rgba(160, 159, 159, 0.2);
  bottom: -136%;
}

/* ----------- ||| Footer area ||| ------------- */

.social-logo-area {
  max-width: 87%;
  margin: 0 auto;
}

.paragraph-3 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: rgb(98, 98, 98);
  margin-bottom: 2rem;
}

.icon-management {
  font-size: 1.35rem;
  color: rgb(167, 167, 167);
}
.icon-flex {
  display: flex;
  justify-content: flex-start;
  gap: 0.7rem;
}

.flex-section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.about {
  width: 45%;
}

.nft {
  width: 45%;
}

.contact {
  width: 45%;
}

.social {
  width: 45%;
  margin-bottom: 2rem;
}

li {
  list-style-type: none;
  padding-left: 0;
  font-weight: 700;
  line-height: 1.7rem;
  font-size: 1.1rem;
  color: rgb(110, 110, 110);
}

h4 {
  color: rgb(68, 68, 68);
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

ul {
  padding-left: 0;
}

.text-copyright {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: rgb(139, 139, 139);
  margin-bottom: 4rem;
}

.text-copyright-2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: rgb(139, 139, 139);
}

.copyright-2 {
  display: none;
}
/* ------- ||| Desktop adjustments 1440px ||| ------- */

@media only screen and (min-width: 1440px) {
  body {
    max-width: 85%;
  }

  .hamburger {
    display: none;
  }
  .header-flex {
    max-width: 100%;
    margin-top: 5rem;
    margin-bottom: 4rem;
  }

  .header-flex-2 {
    display: inline;
  }

  .header-5-announcement {
    font-size: 1.1rem;
  }

  .heading-1 {
    font-size: 7rem;
    max-width: 45%;
    margin-bottom: 3rem;
    margin-top: 1.85rem;
  }

  .paragraph-1 {
    max-width: 45%;
    font-weight: 600;
    font-size: 1.3rem;
    color: rgb(90, 90, 90);
  }

  section.hero {
    max-width: 100%;
    height: 800px;
  }

  .nft-squid-image {
    width: 800px;
    position: absolute;
    top: 17%;
    right: 0%;
    transform: translateX(-20%);
    z-index: 4;
  }

  .logo-section {
    justify-content: space-between;
  }

  .text-area-showcase {
    max-width: 100%;
  }

  .flex-container {
    gap: 1.35rem;
  }

  .showcase-container {
    margin-left: 0;
  }

  .overlay-text {
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    z-index: 3;
    margin: 0 auto;
    position: absolute;
    bottom: -51%;
    left: 14%;
  }

  .nft-image-2 {
    position: absolute;
    bottom: -12%;
    right: 17%;
    transform: translateX(0%);
    z-index: -1;
  }

  .container-2 {
    margin-bottom: 8rem;
  }
  .line-1 {
    height: 2px;
    width: 1224px;
    position: absolute;
    background-color: rgba(160, 159, 159, 0.2);
    bottom: -225.5%;
  }

  .line-2 {
    height: 2px;
    width: 1224px;
    position: absolute;
    background-color: rgba(160, 159, 159, 0.2);
    bottom: -160%;
  }

  .line-3 {
    display: none;
  }

  .about {
    width: 24%;
  }

  .nft {
    width: 24%;
  }

  .contact {
    width: 24%;
  }

  .social {
    width: 24%;
    margin-bottom: 2rem;
  }

  .flex-footer {
    display: flex;
    justify-content: flex-start;
  }

  .footer-section {
    width: 50%;
  }

  .flex-section {
  }

  .nft-exclusive-social {
    width: 50%;
    margin-left: 0;
  }

  .under-image {
    background: url(/assets/background.svg);
    height: 330px;
    width: 85%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
  }

  .logo-4 {
    display: inline;
  }

  .container-2 {
    max-width: 100%;
  }

  .social-logo-area {
    max-width: 100%;
  }

  .copyrights {
    display: flex;
    justify-content: space-between;
  }

  .copyright-2 {
    display: flex;
  }
} ;
